*{
    margin:0;
    padding: 0;
     font-family: "Open Sans", sans-serif;
}

section{
    padding: 20px 8%;
}

.cmn-color2{
    color: #575757;
}

.cmn-color1{
    color: #2563EB;
}

.common-button{
    background-color: #1D4ED8;
    color: white;
padding: 10px 30px;
font-size: 15px;
border: none;
border-radius: 8px;
cursor: pointer;
}

.common-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ffff ;
    padding: 18px 8%;
}

.navs-child {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.child1 li{
    padding: 2px;
  
    
}
.child2 li a{
    padding: 20px;
    text-decoration: none;
    color: #575757;
    font-size: 18px;
}


/* styling header or banner part */
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/banner.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header h1{
font-size: 3rem;
}




.header-parent{
    text-align: center;
    color: white;
    padding:100px;
}


header p{
    padding: 10px 100px;
    font-size: 12px;
    word-spacing: 1px; 
}
header button{
 margin-bottom: 0px;
  margin-top: 200px;
 

}

/* Meet the speaker section */

/* speakerr */
section h1{
    padding: 20px;
    text-align: center;
}


.Speaker-parent h1{
    padding: 30px;

}

.container{

 display: grid;
 grid-template-columns: repeat(2,2fr);
 grid-template-columns: 400px 400px;

 justify-content: center;
 align-content: center;
 gap: 20px;

}



.card-child{
    border: #575757;
    background-color:#eff0f2;
    border-radius: 10px;
  
}
.card-child img{
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-child p{
    padding: 0px 18px;
    margin: 10px; 
}



.card-child-size{
    font-size:10px ;

}

/* secure-your-spot section */

.secure-your-spot-top-part{
    text-align: center;
    margin-top: 70px;
}

.secure-your-spot-top-part p{
    padding: 5px 5px;
    font-size: small;

}
.secure-your-spot-top-part h1{
    font-size: 2.5rem;
}
.secure-your-spot-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 20px;
    
  
}

.secure-your-spot-card-childs{
    border: 1px solid #ede9e9;
  padding: 20px 30px; 
    background-color: #eff0f2;
    text-align: left;
    border-radius: 10px;
}



.secure-your-spot-card-childs ul{
      padding: 0 0 0 13px;
 font-size: small;
}
.secure-your-spot-card-childs ul li{
    padding: 2px;
}

.secure-your-spot-card-childs ul li::marker{

  color: #2563EB; 
} 
/* .secure-your-spot-card-childs button{ */
.childs-button{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 20px 5px;
    padding: 10px 80px;
    background-color:none;
    border: 1.5px solid #2563EB;
    border-radius:5px ;
    color: #2563EB;
}
.pro-child-button{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 20px 5px;
    padding: 10px 80px;
    background-color:none;
    border: 1.5px solid #2563EB;
    border-radius:5px ;
    background-color: #2563EB;
    color: white;
}

.pro-color{
    color: #93C5FD;
}
.pro-color1{
    color: white;
}
.pro{
   background-color: #0D1B2A;
   
}


  hr {
  border: 0.5px solid #959595;
  opacity: 0.5;
}





/* .secure-your-spot h1{
    font-size: 2.5rem;
} */





/* footer*/
.nav-footer-color{
  
      background-color: #eff0f2;
}
.footer-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.footer-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

.ch2 li img{
    margin: 5px;
    padding: 8px;
    width: 45px;
}

footer p{
    margin: 5px;
    padding: 5px;
    font-size: small;
    color:#575757;
}

